MasterOfMasterDesktop/Service References/svcMOM/MasterOfMasterSvc2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3767/MasterOfMasterSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" />
  <xs:element name="InsertarMaestroDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="pMaestroDetalle" nillable="true" type="q1:cMaestrosDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMaestroDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarMaestroDetalleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMaestroDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="pMaestroDetalle" nillable="true" type="q2:cMaestrosDetalle" />
        <xs:element minOccurs="0" name="pDescripcionAntigua" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMaestroDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMaestroDetalleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMaestroDetalle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdMDetalle" type="xs:long" />
        <xs:element minOccurs="0" name="pIdMCabecera" type="xs:long" />
        <xs:element minOccurs="0" name="pDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIndActivo" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pFechaInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMaestroDetalleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="ConsultarMaestroDetalleResult" nillable="true" type="q3:ArrayOfcMaestrosDetalle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMaestroCabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="pMaestroCabecera" nillable="true" type="q4:cMaestrosCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarMaestroCabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarMaestroCabeceraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMaestroCabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="pMaestroCabecera" nillable="true" type="q5:cMaestrosCabecera" />
        <xs:element minOccurs="0" name="pDescripcionAntigua" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarMaestroCabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarMaestroCabeceraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMaestroCabecera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdMCabecera" type="xs:long" />
        <xs:element minOccurs="0" name="pDescripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pIndActivo" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pFechaInicial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFechaFinal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMaestroCabeceraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="ConsultarMaestroCabeceraResult" nillable="true" type="q6:ArrayOfcMaestrosCabecera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTabla">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="MA" nillable="true" type="q7:Tabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearTablaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearTablaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMAestrosAvanzados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMAestrosAvanzadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="ListarMAestrosAvanzadosResult" nillable="true" type="q8:ArrayOfTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarMAvanzado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarMAvanzadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" minOccurs="0" name="buscarMAvanzadoResult" nillable="true" type="q9:ArrayOfTabla" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClavePrimaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNombreTabla" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarClavePrimariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buscarClavePrimariaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>