MasterOfMasterDesktop/Service References/svcMOM/MasterOfMasterSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MasterOfMasterModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="cMaestrosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaOcurrencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idMaestroCabecera" type="xs:long" />
      <xs:element minOccurs="0" name="idMaestroDetalle" type="xs:long" />
      <xs:element minOccurs="0" name="idUsuarioActualiza" type="xs:long" />
      <xs:element minOccurs="0" name="idUsuarioCreador" type="xs:long" />
      <xs:element minOccurs="0" name="indActivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cMaestrosDetalle" nillable="true" type="tns:cMaestrosDetalle" />
  <xs:complexType name="ArrayOfcMaestrosDetalle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cMaestrosDetalle" nillable="true" type="tns:cMaestrosDetalle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcMaestrosDetalle" nillable="true" type="tns:ArrayOfcMaestrosDetalle" />
  <xs:complexType name="cMaestrosCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaOcurrencia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idMaestroCabecera" type="xs:long" />
      <xs:element minOccurs="0" name="idUsuarioActualiza" type="xs:long" />
      <xs:element minOccurs="0" name="idUsuarioCreador" type="xs:long" />
      <xs:element minOccurs="0" name="indActivo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cMaestrosCabecera" nillable="true" type="tns:cMaestrosCabecera" />
  <xs:complexType name="ArrayOfcMaestrosCabecera">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="cMaestrosCabecera" nillable="true" type="tns:cMaestrosCabecera" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcMaestrosCabecera" nillable="true" type="tns:ArrayOfcMaestrosCabecera" />
  <xs:complexType name="Tabla">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atributo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreTabla" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDeDato" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tabla" nillable="true" type="tns:Tabla" />
  <xs:complexType name="ArrayOfTabla">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tabla" nillable="true" type="tns:Tabla" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTabla" nillable="true" type="tns:ArrayOfTabla" />
</xs:schema>